.App {
  text-align: center;
}
.header{
  width: 20px;
  height: 20px;
  background-color: red;
}
.search-menu{
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-left: 150px;
  align-items: center;
}
.search-end{
  display: flex;
  padding: 30px;
  gap: 30px;
}
.search-end p {
  margin: 0 0px; 
  font-size: 35px;
  font-weight: lighter;
  color: #134B8A;
}
.card-display{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}